<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyZ1s-RmvXGgp8qE4LaCR4f6skk32fsYM</string>
	<key>GCM_SENDER_ID</key>
	<string>837352162992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cosci.final-app-467-316</string>
	<key>PROJECT_ID</key>
	<string>final-467-316</string>
	<key>STORAGE_BUCKET</key>
	<string>final-467-316.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837352162992:ios:1bf8c28946fbf9e05cdd75</string>
</dict>
</plist>